body {
  background: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5406F9;
}

img{
  max-width: 25%;
  height:25%;
  
}
.main {
  display: flex;
}

.pokemons-list img {
  max-width: 10%;
  height:auto;
  
}

.pokemons-list,
.pokedex {
  padding: 0 50px 20px;
  flex-grow: 1;
}

.form-wrapper {
  margin-top: 20px;
  text-align: center;
}
